{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Pet Details</h5>
  
  <div class="card-body">
    <h5 class="card-title">{{pets.name}}</h5>
    <p class="card-text">{{pets.age|linebreaks}}</p>
    <p class="card-text">{{pets.available}}</p>
    <p class="card-text">{{pets.description}}</p>
    {% if pets.image %}
    <img class="card-img-top" src="{{pets.image.url}}" alt="Buy me...">
  {% endif %}  
    <div class="row text-center">
        <div class="col-md-6">
            <a href="{% url 'pets-update' pets.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'pets-delete' pets.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
    </div>
  </div>
</div>
{% endblock content %}